@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  /* line-height: 1.42857143; */
  color: #000;
  background-color: #fff;
}


.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #ad655f;
  /* font-family: 'Dancing Script', cursive; */
  font-weight: 700;
  border-radius:0;
}


ul {
  list-style-type: none;
}

big {
  font-size: 2em;
}

.small-header {
  color: #fff;
}



.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}

.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0px;
  top: 3px;
  font-size: 80%
}


#footer {
  position: relative;
  bottom: 0;
  width: 99%;
  /* Set the fixed height of the footer here */
  /*height: 100px;*/
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn {
  margin: 5px;
}


.badge {
  display: inline-block;
  /*padding: 0.25em 0.4em;*/
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: normal;
  vertical-align: baseline;
}

/*
.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 0.25rem;
}
*/

.perfil {
  padding: 0.2rem 0.4rem;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

/********************************************/

.zoom {
  padding: 50px;
  transition: transform .5s;
  /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
